
@{
    ViewBag.Title = "Admin";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/Content/luis.css")
<div class="row py-lg-4">
    <div class="col-md-12">
        <div class="d-inline p-2 bg-dark text-white">___________________________________SISTEMA DE GESTION DE HORARIO EN CARRERAS DE ING.SISTEMAS & ING.TELEMATICA___________________________________</div>
    </div>
    
</div>


<div class="row py-lg-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex bg-primary">
                <span data-feather="grid"></span> <span class="ml-2 font-weight-bold">Bienvenido Administrador <strong></strong> </span>
            </div>
            <div class="card-body bg-warning">
               
                   <p>
                       <h1 class="text-lg-center">
                           El sitio esta activo
                       </h1>
                   </p>
               

            </div>
            <div class="card-footer bg-danger">

            </div>
        </div>

    </div>

    

</div>


