@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.displayMenu == "Admin")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <h1>Welcome Admin <strong>@ViewBag.Name</strong> Este modulo sera implemetado pronto</h1>



}
else if (ViewBag.displayMenu == "Manager")
{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    <h1>Welcome Manager <strong>@ViewBag.Name</strong> Este modulo sera implemetado pronto</h1>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2>Welcome usuario <strong>@ViewBag.Name</strong> Este modulo sera implemetado pronto</h2>
}


