USE [master]
GO
/****** Object:  Database [sistema_horario]    Script Date: 31/03/2019 14:32:24 ******/
CREATE DATABASE [sistema_horario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistema_horario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sistema_horario.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sistema_horario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sistema_horario_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistema_horario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistema_horario]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31/03/2019 14:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[anolectivo]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[anolectivo](
	[cod_ano] [int] IDENTITY(1,1) NOT NULL,
	[ano] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[aula]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[aula](
	[cod_aula] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[ubicasion] [varchar](45) NOT NULL,
	[ac] [varchar](45) NOT NULL,
	[capacidad] [int] NOT NULL,
	[n_equipo] [int] NULL,
	[cod_tipoaula] [int] NOT NULL,
	[cod_dpto] [int] NOT NULL,
 CONSTRAINT [PK__aula__52A406149C648B04] PRIMARY KEY CLUSTERED 
(
	[cod_aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[aulaDpto]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aulaDpto](
	[cod_aula] [int] NULL,
	[cod_dpto] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[carrera]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carrera](
	[cod_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipo_carrera] [varchar](50) NOT NULL,
	[modalidad] [varchar](45) NOT NULL,
	[cod_dpto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dia]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dias] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dpto]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dpto](
	[cod_dpto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cod_faculta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_dpto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[faculta]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[faculta](
	[cod_faculta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](8) NOT NULL,
	[direccion] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_faculta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grupo](
	[cod_grupo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[capacidad] [int] NOT NULL,
	[tipo_ciclo] [varchar](45) NOT NULL,
	[cod_asig] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[horario]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[horario](
	[cod_horario] [int] IDENTITY(1,1) NOT NULL,
	[cod_periodo] [int] NULL,
	[cod_dias] [int] NULL,
	[fecha_ini] [varchar](45) NULL,
	[cod_asig] [int] NOT NULL,
	[cod_aula] [int] NOT NULL,
	[cod_grupo] [int] NOT NULL,
	[inss] [varchar](45) NOT NULL,
 CONSTRAINT [PK__horario__CCE87E1179ABA9A6] PRIMARY KEY CLUSTERED 
(
	[cod_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inportarcion]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inportarcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inss] [varchar](45) NOT NULL,
	[cod_dpto] [int] NULL,
	[cod_asignatura] [int] NULL,
	[cod_carrera] [int] NOT NULL,
	[grupo] [varchar](10) NOT NULL,
	[hora_grupo] [int] NOT NULL,
	[tipo_ciclo] [varchar](2) NOT NULL,
	[tipo_grupo] [varchar](10) NULL,
 CONSTRAINT [PK__exportar__3213E83F6940D243] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[materia]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[materia](
	[cod_materia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pensum]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pensum](
	[cod_asig] [int] IDENTITY(1,1) NOT NULL,
	[N_credito] [int] NOT NULL,
	[ciclo] [int] NOT NULL,
	[anio_est] [varchar](4) NULL,
	[prerrequisito1] [varchar](100) NULL,
	[prerrequisito2] [varchar](100) NULL,
	[cod_plan] [int] NOT NULL,
	[cod_materia] [int] NOT NULL,
	[total_horas] [int] NOT NULL,
 CONSTRAINT [PK__pensum__427F9846B38F652A] PRIMARY KEY CLUSTERED 
(
	[cod_asig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[periodo]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[periodo](
	[cod_periodo] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](20) NOT NULL,
 CONSTRAINT [PK__periodo__5790DD41E1827BC8] PRIMARY KEY CLUSTERED 
(
	[cod_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plans](
	[cod_plan] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[total_credito] [int] NOT NULL,
	[fecha_ini] [date] NULL,
	[fecha_fin] [date] NULL,
	[Nciclos] [int] NULL,
	[cod_carrera] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[profesorDepartameto]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[profesorDepartameto](
	[cod_dpto] [int] NULL,
	[inss] [varchar](45) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[profesores](
	[inss] [varchar](45) NOT NULL,
	[cedula] [varchar](45) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[apellido] [varchar](60) NOT NULL,
	[telefono] [int] NULL,
	[direccion] [varchar](100) NULL,
	[foto_ruta] [varchar](200) NULL,
	[cod_dpto] [int] NOT NULL,
 CONSTRAINT [PK__profesor__94B92FF05B4E1107] PRIMARY KEY CLUSTERED 
(
	[inss] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipoaula]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipoaula](
	[cod_tipoaula] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipoaula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[correo] [varchar](40) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[apellido] [varchar](45) NOT NULL,
	[foto] [varchar](45) NULL,
	[pass] [varchar](45) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[componentes]    Script Date: 31/03/2019 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[componentes]
AS
SELECT        nombre
FROM            dbo.materia
GROUP BY nombre

GO
SET IDENTITY_INSERT [dbo].[anolectivo] ON 

INSERT [dbo].[anolectivo] ([cod_ano], [ano]) VALUES (1, N'2018')
SET IDENTITY_INSERT [dbo].[anolectivo] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3dfb6a2e-f2d3-4e61-866b-e0c25c7d8131', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'64316cd1-732b-49ec-abbb-a60711260d9a', N'Manager')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ff8cb90f-2cf0-4a48-80c9-8b147a488bee', N'Secretaria')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'57e50a3e-8dca-4fe2-afd3-35b51216135f', N'3dfb6a2e-f2d3-4e61-866b-e0c25c7d8131')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'063e12fb-7f18-47ba-8c22-ff73dd444c71', N'64316cd1-732b-49ec-abbb-a60711260d9a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'91fc5b61-b182-4fd1-ad2a-6c7de235614d', N'64316cd1-732b-49ec-abbb-a60711260d9a')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'063e12fb-7f18-47ba-8c22-ff73dd444c71', N'alejandro@gmail.com', 0, N'AMsN6XDR5NfCSepL/mdhwFUnKIoXmBqdGs5CLjVeroPOpYMZLws+wFOsoYFPJmItRQ==', N'e79f3a9d-1bae-4203-b853-da14235b0cc9', NULL, 0, 0, NULL, 1, 0, N'alejandro@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2ba1962f-9651-41ce-bc46-1149b92429e1', N'laura123@hotmail.com', 0, N'AHpEh2YktA8XXmjNS7HVFba32ZUmv+a4T9yGuzTchHHcpufm/HS/FVNUvV+GTFSubw==', N'23c9ea2c-fbff-4ce5-9217-2bce8d8620c5', NULL, 0, 0, NULL, 0, 0, N'Laura')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'57e50a3e-8dca-4fe2-afd3-35b51216135f', N'veracortez8195@hotmail.com', 0, N'ALvXKptuAQW1G+Laz+QZkceyDI9fFoAELQZiKevwToIPSdM/20fto/7+/FIwM4BJeA==', N'c69289fc-27b4-46d3-84ec-dd40cf3e8187', NULL, 0, 0, NULL, 0, 0, N'Vera')
SET IDENTITY_INSERT [dbo].[aula] ON 

INSERT [dbo].[aula] ([cod_aula], [nombre], [ubicasion], [ac], [capacidad], [n_equipo], [cod_tipoaula], [cod_dpto]) VALUES (4, N'Alcala 1', N'CIDS', N'nose', 30, 0, 1, 3)
INSERT [dbo].[aula] ([cod_aula], [nombre], [ubicasion], [ac], [capacidad], [n_equipo], [cod_tipoaula], [cod_dpto]) VALUES (5, N'Alcala 2', N'ATM', N'nose', 30, 0, 1, 3)
INSERT [dbo].[aula] ([cod_aula], [nombre], [ubicasion], [ac], [capacidad], [n_equipo], [cod_tipoaula], [cod_dpto]) VALUES (6, N'Hardware', N'CIDS', N'nose', 28, 0, 1, 3)
SET IDENTITY_INSERT [dbo].[aula] OFF
SET IDENTITY_INSERT [dbo].[carrera] ON 

INSERT [dbo].[carrera] ([cod_carrera], [nombre], [tipo_carrera], [modalidad], [cod_dpto]) VALUES (2, N'INGENIERIA EN SISTEMAS ', N'Regular', N'Regular', 3)
SET IDENTITY_INSERT [dbo].[carrera] OFF
SET IDENTITY_INSERT [dbo].[dia] ON 

INSERT [dbo].[dia] ([id], [dias]) VALUES (1, N'Lunes')
INSERT [dbo].[dia] ([id], [dias]) VALUES (2, N'Martes')
INSERT [dbo].[dia] ([id], [dias]) VALUES (3, N'Miercoles')
SET IDENTITY_INSERT [dbo].[dia] OFF
SET IDENTITY_INSERT [dbo].[dpto] ON 

INSERT [dbo].[dpto] ([cod_dpto], [nombre], [cod_faculta]) VALUES (3, N'departamento de computacion', 5)
SET IDENTITY_INSERT [dbo].[dpto] OFF
SET IDENTITY_INSERT [dbo].[faculta] ON 

INSERT [dbo].[faculta] ([cod_faculta], [nombre], [telefono], [direccion]) VALUES (5, N'Ciencia y Tecnologia', N'89682528', N'Leon')
SET IDENTITY_INSERT [dbo].[faculta] OFF
SET IDENTITY_INSERT [dbo].[inportarcion] ON 

INSERT [dbo].[inportarcion] ([id], [inss], [cod_dpto], [cod_asignatura], [cod_carrera], [grupo], [hora_grupo], [tipo_ciclo], [tipo_grupo]) VALUES (10, N'134252ywrtsyw', 3, 39, 2, N'gp1', 2, N'2', N'Teorico')
INSERT [dbo].[inportarcion] ([id], [inss], [cod_dpto], [cod_asignatura], [cod_carrera], [grupo], [hora_grupo], [tipo_ciclo], [tipo_grupo]) VALUES (11, N'2334ssddfgd', 3, 70, 2, N'gp2', 2, N'2', N'Teorico')
INSERT [dbo].[inportarcion] ([id], [inss], [cod_dpto], [cod_asignatura], [cod_carrera], [grupo], [hora_grupo], [tipo_ciclo], [tipo_grupo]) VALUES (12, N'134252ywrtsyw', 3, 39, 2, N'gp1', 2, N'1', N'Teorico')
SET IDENTITY_INSERT [dbo].[inportarcion] OFF
SET IDENTITY_INSERT [dbo].[materia] ON 

INSERT [dbo].[materia] ([cod_materia], [nombre]) VALUES (1, N'ELECTIVA IX:INTRODUCCION A LOS CMS')
INSERT [dbo].[materia] ([cod_materia], [nombre]) VALUES (2, N'PATRONES DE DISEÑO')
INSERT [dbo].[materia] ([cod_materia], [nombre]) VALUES (3, N'ACTIVIDAD ESTUDIANTIL I')
SET IDENTITY_INSERT [dbo].[materia] OFF
SET IDENTITY_INSERT [dbo].[pensum] ON 

INSERT [dbo].[pensum] ([cod_asig], [N_credito], [ciclo], [anio_est], [prerrequisito1], [prerrequisito2], [cod_plan], [cod_materia], [total_horas]) VALUES (1, 1, 1, NULL, NULL, NULL, 2, 3, 0)
INSERT [dbo].[pensum] ([cod_asig], [N_credito], [ciclo], [anio_est], [prerrequisito1], [prerrequisito2], [cod_plan], [cod_materia], [total_horas]) VALUES (2, 4, 1, NULL, NULL, NULL, 2, 4, 0)
INSERT [dbo].[pensum] ([cod_asig], [N_credito], [ciclo], [anio_est], [prerrequisito1], [prerrequisito2], [cod_plan], [cod_materia], [total_horas]) VALUES (3, 4, 1, NULL, NULL, NULL, 2, 5, 0)
SET IDENTITY_INSERT [dbo].[pensum] OFF
SET IDENTITY_INSERT [dbo].[periodo] ON 

INSERT [dbo].[periodo] ([cod_periodo], [periodo]) VALUES (1, N'7:00 a 8:00 am')
INSERT [dbo].[periodo] ([cod_periodo], [periodo]) VALUES (2, N'8:00 a 9:00 am')
INSERT [dbo].[periodo] ([cod_periodo], [periodo]) VALUES (3, N'9:00 a 10:00 am')
SET IDENTITY_INSERT [dbo].[periodo] OFF
SET IDENTITY_INSERT [dbo].[Plans] ON 

INSERT [dbo].[Plans] ([cod_plan], [nombre], [total_credito], [fecha_ini], [fecha_fin], [Nciclos], [cod_carrera]) VALUES (2, N'PLAN DE ESTUDIO 2011 - CREDITO ING SISTEMA', 201, NULL, NULL, 10, 2)
SET IDENTITY_INSERT [dbo].[Plans] OFF
INSERT [dbo].[profesores] ([inss], [cedula], [nombre], [apellido], [telefono], [direccion], [foto_ruta], [cod_dpto]) VALUES (N'134252ywrtsyw', N'281-190596-0004T', N'Francisco', N'Zepeda', 89682528, N'Leon', NULL, 3)
INSERT [dbo].[profesores] ([inss], [cedula], [nombre], [apellido], [telefono], [direccion], [foto_ruta], [cod_dpto]) VALUES (N'2334ssddfgd', N'281-250478-0004T', N'Denis', N'Espinosa', 78766565, N'Leon', NULL, 3)
INSERT [dbo].[profesores] ([inss], [cedula], [nombre], [apellido], [telefono], [direccion], [foto_ruta], [cod_dpto]) VALUES (N'A866847', N'281-280667-9886t', N'Alvaro', N'Altamirano', 87555754, N'Leon', NULL, 3)
SET IDENTITY_INSERT [dbo].[tipoaula] ON 

INSERT [dbo].[tipoaula] ([cod_tipoaula], [nombre_tipo]) VALUES (1, N'Laboratorio')
INSERT [dbo].[tipoaula] ([cod_tipoaula], [nombre_tipo]) VALUES (2, N'Aula')
SET IDENTITY_INSERT [dbo].[tipoaula] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 31/03/2019 14:32:28 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 31/03/2019 14:32:28 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 31/03/2019 14:32:28 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 31/03/2019 14:32:28 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 31/03/2019 14:32:28 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 31/03/2019 14:32:28 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[aula]  WITH CHECK ADD  CONSTRAINT [cod_dptos] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[aula] CHECK CONSTRAINT [cod_dptos]
GO
ALTER TABLE [dbo].[aula]  WITH CHECK ADD  CONSTRAINT [FK_aula_tipoaula] FOREIGN KEY([cod_tipoaula])
REFERENCES [dbo].[tipoaula] ([cod_tipoaula])
GO
ALTER TABLE [dbo].[aula] CHECK CONSTRAINT [FK_aula_tipoaula]
GO
ALTER TABLE [dbo].[aulaDpto]  WITH CHECK ADD  CONSTRAINT [FK_aulaDpto_aula] FOREIGN KEY([cod_aula])
REFERENCES [dbo].[aula] ([cod_aula])
GO
ALTER TABLE [dbo].[aulaDpto] CHECK CONSTRAINT [FK_aulaDpto_aula]
GO
ALTER TABLE [dbo].[aulaDpto]  WITH CHECK ADD  CONSTRAINT [FK_aulaDpto_dpto] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
GO
ALTER TABLE [dbo].[aulaDpto] CHECK CONSTRAINT [FK_aulaDpto_dpto]
GO
ALTER TABLE [dbo].[carrera]  WITH CHECK ADD  CONSTRAINT [cod_dpto] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carrera] CHECK CONSTRAINT [cod_dpto]
GO
ALTER TABLE [dbo].[dpto]  WITH CHECK ADD  CONSTRAINT [cod_faculta] FOREIGN KEY([cod_faculta])
REFERENCES [dbo].[faculta] ([cod_faculta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dpto] CHECK CONSTRAINT [cod_faculta]
GO
ALTER TABLE [dbo].[grupo]  WITH CHECK ADD  CONSTRAINT [FK_grupo_pensum] FOREIGN KEY([cod_asig])
REFERENCES [dbo].[pensum] ([cod_asig])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grupo] CHECK CONSTRAINT [FK_grupo_pensum]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_aula] FOREIGN KEY([cod_aula])
REFERENCES [dbo].[aula] ([cod_aula])
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_aula]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_grupo] FOREIGN KEY([cod_grupo])
REFERENCES [dbo].[grupo] ([cod_grupo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_grupo]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_pensum] FOREIGN KEY([cod_asig])
REFERENCES [dbo].[pensum] ([cod_asig])
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_pensum]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_periodo] FOREIGN KEY([cod_periodo])
REFERENCES [dbo].[periodo] ([cod_periodo])
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_periodo]
GO
ALTER TABLE [dbo].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_profesores] FOREIGN KEY([inss])
REFERENCES [dbo].[profesores] ([inss])
GO
ALTER TABLE [dbo].[horario] CHECK CONSTRAINT [FK_horario_profesores]
GO
ALTER TABLE [dbo].[inportarcion]  WITH CHECK ADD  CONSTRAINT [FK_inportarcion_carrera] FOREIGN KEY([cod_carrera])
REFERENCES [dbo].[carrera] ([cod_carrera])
GO
ALTER TABLE [dbo].[inportarcion] CHECK CONSTRAINT [FK_inportarcion_carrera]
GO
ALTER TABLE [dbo].[inportarcion]  WITH CHECK ADD  CONSTRAINT [FK_inportarcion_dpto] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
GO
ALTER TABLE [dbo].[inportarcion] CHECK CONSTRAINT [FK_inportarcion_dpto]
GO
ALTER TABLE [dbo].[inportarcion]  WITH CHECK ADD  CONSTRAINT [FK_inportarcion_materia] FOREIGN KEY([cod_asignatura])
REFERENCES [dbo].[materia] ([cod_materia])
GO
ALTER TABLE [dbo].[inportarcion] CHECK CONSTRAINT [FK_inportarcion_materia]
GO
ALTER TABLE [dbo].[inportarcion]  WITH CHECK ADD  CONSTRAINT [FK_inportarcion_profesores] FOREIGN KEY([inss])
REFERENCES [dbo].[profesores] ([inss])
GO
ALTER TABLE [dbo].[inportarcion] CHECK CONSTRAINT [FK_inportarcion_profesores]
GO
ALTER TABLE [dbo].[pensum]  WITH CHECK ADD  CONSTRAINT [FK_pensum_materia] FOREIGN KEY([cod_materia])
REFERENCES [dbo].[materia] ([cod_materia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pensum] CHECK CONSTRAINT [FK_pensum_materia]
GO
ALTER TABLE [dbo].[pensum]  WITH CHECK ADD  CONSTRAINT [FK_pensum_Plans] FOREIGN KEY([cod_plan])
REFERENCES [dbo].[Plans] ([cod_plan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pensum] CHECK CONSTRAINT [FK_pensum_Plans]
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_carrera] FOREIGN KEY([cod_carrera])
REFERENCES [dbo].[carrera] ([cod_carrera])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [FK_Plans_carrera]
GO
ALTER TABLE [dbo].[profesorDepartameto]  WITH CHECK ADD  CONSTRAINT [FK_profesorDepartameto_dpto] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
GO
ALTER TABLE [dbo].[profesorDepartameto] CHECK CONSTRAINT [FK_profesorDepartameto_dpto]
GO
ALTER TABLE [dbo].[profesorDepartameto]  WITH CHECK ADD  CONSTRAINT [FK_profesorDepartameto_profesores] FOREIGN KEY([inss])
REFERENCES [dbo].[profesores] ([inss])
GO
ALTER TABLE [dbo].[profesorDepartameto] CHECK CONSTRAINT [FK_profesorDepartameto_profesores]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_dpto] FOREIGN KEY([cod_dpto])
REFERENCES [dbo].[dpto] ([cod_dpto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_dpto]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "materia"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 101
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'componentes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'componentes'
GO
USE [master]
GO
