@{
    var dt = ViewBag.Tabla;

    if (ViewBag.displayRole == 0)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.displayRole == 1)
    {
        Layout = "~/Views/Shared/_LayoutManager.cshtml";
    }
    else if (ViewBag.displayRole == 2)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    ViewBag.Title = "Horario";
}

<table class="table">

    <tr>
        <th>
            Lunes
        </th>
        <th>
            Martes
        </th>
        <th>
            Miercoles
        </th>
        <th>
            Jueves
        </th>
        <th>
            Viernes
        </th>
        <th></th>
    </tr>


    @foreach (var H in dt.Rows)
    {
    <td>
        @H.Rows[0].ItemArray[1].ToString(0)
    </td>
    }


    </table>