@model SistemaWeb.Contexto.anolectivo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Esta seguro que quiere eliminar este registro?</h3>
<div>
    <h4>Año lectivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Año
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
